#section-rules{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
}
#section-rules> h3{
    font-size: 1.6rem;
    margin: 1rem;


}
#section-rules> div {
display: flex;
flex-direction: column;
background-color:#f8ce26;
border-radius: 3rem;
padding-bottom: 1rem;

}
#section-rules> div >h3{
    font-size: 2rem;
    transition: 3s;
    animation:brilharTextoH3 3s infinite ;
    color: #ffa125;

}

#section-rules> div >div{

border-radius: 3rem;
display: flex;
flex-direction: row;
padding: 0.5rem;



}

    


#section-rules> div> h3{
display: flex;
align-items: start;
padding: 1rem;
justify-content: center;

}
#section-rules> div > div> div{
display: flex;
background-color: #ffde59;
border-radius: 1rem;
flex-direction: column;
padding: 1.2rem;
width: 28rem;


margin: 0.2rem;

align-items: start;

}
#section-rules> div > div> div > p{
    margin: 0.5rem;
    font-size: 1.35em;
    display: flex;
    



}
#section-rules> div > div> div> ul> li{
margin-bottom: 0.5rem;
font-size: 1.1rem;

}