

#section-about{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;

}
#section-about> div{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#section-about> div> p{
background-color: #ffde59;
padding: 1rem;
border-radius: 1rem;

}