#section-home{
    margin-top: 4rem;
    background-color: #ffbd59;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    
    

}
#section-home> div{
    padding: 1rem;
}
#section-home> img{
    border-radius: 1rem;
    margin-bottom: 2rem;
    animation:brilhar 2s infinite ;
    
  
    
}