header{
    display: flex;
    height: 9vh;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: #979797;
    border-radius: 2rem;
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 2;
   

}
header > nav{
    
 width: 90vw;
 background-color: #979797;
 
 

}

header > nav > ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #979797;

}
header > nav > ul > li{
list-style-type: none;

}
header > nav > ul > li> a{
    
 text-decoration: none;
 color: white;
 &:hover{
    font-size: 1.1rem;
    color:yellow ;
 }


}
