header{
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffd00;
    
    position: fixed;
    top: 0;
    left:0.00001%;
    z-index: 2;
   

}
header> img{
height: 10vh;
display: flex;
left: 0;



}
header > nav{
    
 width: 90vw;
 background-color: #fffd00;
 position: static;
 
 

}

header > nav > ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #fffd00;

}
header > nav > ul > li{
list-style-type: none;
font-size: 1.2rem;

}
header > nav > ul > li> a{
    
 text-decoration: none;
 position: static;
 color: black;
 transition: 1s;
 border-radius: 0.5rem;
 padding: 1rem;
 &:hover{
    background-color: #fff023;
    color:rgb(255, 123, 0) ;
 }


}
.scrolled {
    transition: 1s;
    /* Cor quando desce na página */
  }
  
  .hidden {
    
    opacity: 0;
    pointer-events: none;
  }

