*{margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;

}

.button-default{
  padding: 3rem;
  margin: auto;
  border: none;
  border-radius: 1rem;
  color: blueviolet;
  font-size: 2rem;
  margin-top: 1rem;
  transition: 1.3s;
  animation: mover 2s infinite,brilhar 2s infinite;



}
.button-default> a{
  text-decoration: none;
  color: purple;
  
}
.box-default{
  padding: 2rem;
  border-radius: 2rem;
  background-color: #ffbd59;

}
.h1-default{
  font-size: 3rem;
  color: gainsboro ;
  text-shadow: 1px 2px 1px black;
  transition: 3s;
  animation: brilharTexto 3s infinite;

}
.p-default{
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: rgb(56, 56, 56);
  



}
.h2-default{
  font-size: 2.3rem;
  transition: 3s;
  color: white;
  animation: brilharTextoH2 3s infinite;



}
.h3-default{
  font-size: 2rem;
  padding: 1rem;


}
.p-title{
  font-size: 2.2rem;
  margin: 0.7;
  padding: 1rem;
  color: rgb(56, 56, 56);
}